# VS-Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# PlatformIO build output
.pio/

# Cache
.cache/

# macOS
.DS_Store

pcb/eidon-tracker/eidon-tracker-backups/*
pcb/eidon-tracker/#auto_saved_files#

# Local Builds
local_builds/